.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}


.friend {
    padding: 0.625rem;
    border-bottom: 0.063rem solid #ccc;
    column-gap: 1.25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr;
}


.friend button {
    padding: 0.188rem;
    margin-left: 0rem;
    background-color: #3b5998;
    color: aliceblue;
}

.name {
    font-size: 1.25rem;
}

@media screen and (min-width: 25.063rem) {
    .header {
        background-color: #3b5998;
        color: white;
        padding: 0.938rem;
        text-align: center;
    }

    .friend-list {
        text-align: left;
        display: flex;
    }

    .friend {

        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    .friend button {
        padding: 0.313rem;
        background-color: #3b5998;
        color: aliceblue;
        text-align: left;
    }

    .name {
        font-size: 1.563rem;
        text-align: center;
    }

    .images {
        height: 3.125rem;
        width: 3.125rem;
    }
}

@media screen and (min-width: 860px) {
    .header {
        background-color: #3b5998;
        color: white;
        padding: 15px;
        text-align: center;
    }

    .friend-list {
        text-align: left;
        display: flex;
    }

    .friend {

        display: grid;
        grid-template-columns: 2fr 1fr;

    }


    .friend button {
        padding: 5px;
        background-color: #3b5998;
        color: aliceblue;
        text-align: left;
        font-size: 1rem;
    }

    .name {
        /*! font-size: 2.5rem; */
        text-align: center;
    }

    .images {
        height: 3.125rem;
        width: 3.125rem;
    }
}