.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}

.friend-list {
    text-align: left;
}

.friend {
    display: grid;
    justify-content: center;
    text-align: left;
    padding: 0.625rem;
    border-bottom: 0.063rem solid #ccc;
    column-gap: 1.25rem;
    grid-template-columns: 2fr 1fr 1fr;
}

.friend button {
    padding: 0.313rem;
    background-color: #3b5998;
    color: aliceblue;
}

.friend .name {
    font-size: 1.25rem;
    text-align: left;
}

@media screen and (min-width: 25.063rem) {
    .friend {
        display: grid;
        column-gap: .75rem;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .friend .name {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media screen and (min-width: 40.063rem) {
    .friend {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }

    .friend .name {
        font-size: 1.5rem;
        text-align: left;
    }
}