body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1.25rem;
}

input[type=text],
select {
  width: 80%;
  padding: 0.75rem 1.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

input[type=submit] {
  width: 50%;
  margin: auto;
  background-color: #0901ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.875rem 1.25rem;
  margin: auto;
  margin-top: 0.313rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
}

div {
  border-radius: 0.313rem;
  background-color: #f1efef;
  padding: 1.25rem;
}

.container {
  border: 0.125rem solid #dedede;
  background-color: #f1f1f1;
  border-radius: 0.313rem;
  padding: 0.625rem;
  margin: 0.625rem 0;
}