html,
body {
    font-family: Arial, sans-serif;
    margin: 0rem;
    padding: 0rem;
    background-color: #E9EBEE;
    width: 100%;
}


.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}
.bio-photos-friends {
    width: 95%;
    margin: auto;
    margin-top:-20px ;

}
.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.search-navbar {
    display: grid;
    flex-wrap: no-wrap;
    align-items: center;
    row-gap: 0.625rem;
    column-gap: 1.9rem;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#search-form {
    display: none;
  }
.userprofilepic {
    border-radius: 100rem;
}


.search-navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 0.938rem;
}

.search-navbar a:hover {
    color: #3b5998;
}

.search-navbar .search-container {
    display: flex;
    align-items: center;
}

.search-navbar input[type="text"] {
    border: none;
    font-size: 0.875rem;
    padding: 0.5rem;
    width: 5.25rem;
    border-radius: 0.188rem 0 0 0.188rem;
    
}

.search-navbar button {
    background-color: #3b5998;
    color: white;
    border: none;
    font-size: 0.875rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0 0.188rem 0.188rem 0;
    display: none;
}

.search-navbar button:hover {
    background-color: #2d4373;
}

.cover_profile_pics {
    width: 100%;
    background-color: #E9EBEE;
}

.images {
    width: 100%;
    border-radius: 0.313rem;
}

.coverphoto {

    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    background-color: #3337;
}

.coverphoto img {
    width: 100%;
    height: 100%;

}

.coverpic {

    width: 100%;
    left: 0;
    bottom: 0;
}

.profilepic {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}

.profilepic img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 100%;
    position: relative;
    border: solid;
    border-width: 0.35rem;
    border-color: white;
    top: -5.5rem;
}

.profilepic h1 {

    font-size: 2.188rem;
    position: relative;
    top: -4.688rem;

}

.profilepic h3 {
    position: relative;
    margin-top: 0%;
    top: -5.625rem;
}

.profilepic h1>span {
    font-weight: 400;

}

.story_editprofile {
    display: flex;
    column-gap: 1.563rem;
    font-size: 1.563rem;

}

.story {
    padding: 0.625rem;
    font-size: 0.938rem;
    background-color: #4267B3;
    color: #fff;
    border-radius: 0.5rem;
    width: 9.375rem;
    position: relative;
    top: -4rem;
}

.edit {
    padding: 0.625rem;
    font-size: 0.938rem;
    border: 0.063rem solid #3332;
    font-family: inherit;
    border-radius: 0.5rem;
    width: 9.375rem;
    font-family: Arial, sans-serif;
    position: relative;
    top: -4rem;
}

.navbar {
    background-color: #fff;
    margin-top: -0.625rem;
}

.navbar ul {
    padding: 0;
    margin-bottom: 0;
    text-align: left;
    padding-left: 0.063rem;
}

.navbar ul li {
    display: inline-block;
    padding: 0.875rem 0.938rem;
    font-size: 1.063rem;
    color: black;
    font-weight: 600;
}

.navbar ul li:hover {
    color: #3A5898;
}


.all-information {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr;
    grid-column-gap: 0.938rem;

}


.features {
    background-color: #fff;
    padding: 0.625rem;
    box-sizing: border-box;
    border-radius: 0.938rem;
    margin-top: 0.625rem;
    box-shadow: 0rem 0rem 0.125rem rgba(233, 10, 10, 0.333);
    
}
.all-posts{
    width: 95%;
margin: auto;
}

.features span {
    font-size: 1.338rem;
    color: #333;
    font-weight: 600;

    margin-top: 0.938rem;
    padding-top: 0.938rem;

}

.features ul {
    padding: 0;
    margin-bottom: 0;
    border-top: 0.063rem solid #3A58982E;
    padding-top: 0.625rem;
    margin-top: 0.938rem;
    padding-left: 0.063rem;

}

.features ul li {
    font-size: 1.25rem;
    color: #333;
    list-style: none;

    padding: 0.438rem 0rem;
}

.features ul li i {
    margin-right: 0.313rem;
}

.features ul li:hover {
    color: rgb(16, 35, 207);
}

.coverpics{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    background-color: white;
    padding-bottom: 5px;
    position: relative;
top: -500px;
left: 400px;
}

.images-photos {
    display: flex;
    column-gap: 0.313rem;
    row-gap: 0.313rem;
    flex-wrap: wrap;
    margin-top: 0.938rem;
    padding-left: 0.938rem;
    column-gap: 1.25rem;
}

.images-photos img {
    width: 6.25rem;
    height: 6.25rem;
}

.images-friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.938rem;
    background-color: #ffffff;
}

.images-friends img {
    height: 6.25rem;
    width: 6.25rem;
    background-color: #ffffff;
    margin-left: 0rem;
}

.Photos-icon-bg {
    background-color: #93D22D;
}

.Friends-icon-bg {
    background-color: #F4004F;
}


.status-bar {
    border-bottom: 0.063rem solid #3332;
    
}

.status-bar ul {
    padding: 0;
    margin-bottom: 0;
    border: none;
    margin-top: 0rem;
    padding-top: 0rem;
    text-align: left;
}

.status-bar ul li {
    display: inline-block;
    padding: .625rem 2rem;
}

.status-bar ul li i {
    margin-right: 0.313rem;
}

.instant-post {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 0.313rem;
    padding: 1.25rem 0rem;
}

.profile-img {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #333;

}

.profile-img img {
    width: 100%;
    height: 100%;

}

.instant-post div textarea {
    width: 100%;
    padding: 0.625rem 0.625rem;
    border: 0.063rem solid #3335;
    resize: none;
    outline: none;
    font-size: 0.75rem;
    height: 3.125rem;
    box-sizing: border-box;
    font-family: arial;
}

.post-div {
    width: 100%;
    border-top: 0.063rem solid #3332;
    padding-top: 0.625rem;
    text-align: right;
}

.post-div button {
    padding: 0.438rem 0.75rem;
    border-radius: 0.313rem;
    border: 0.063rem solid #3332;
    outline: none;

    font-size: 0.938rem;

}

.post-div button i {
    margin-right: 0.313rem;
}

.post-button {
    background-color: #4267B3;
    color: #fff;
}

.posts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 0.313rem;
}



.post-name-info {
    position: relative;
    top: 1.45rem;
left: .7rem;
}

.post-name-info h2 {
    font-size: 1.125rem;
    color: #333;
    font-weight: 600;
    margin-top: 0.438rem;
    padding-top:5px;

}

.post-name-info .date-public span {
    font-size: 0.75rem;
    color: #3337;
    font-weight: 500;

    margin-left: 0.125rem;
}


.post-img-txt {
    margin-top: -0.625rem;
    width: 100%;
    border-bottom: 0.063rem solid #ccc;
}

.post-img-txt p {
    font-size: 0.938rem;
    clear: #000;
    padding: 0.625rem 0.938rem;
}

.post-img-txt img {
    width: 90%;
    height: 90%;
    padding-left: 0.938rem;
    padding-bottom: 1.563rem;
}

.like-and-comment {

    padding: 0.938rem 0.938rem;
    display: flex;
    column-gap: 3.438rem;
    flex-wrap: wrap;

}

.like-and-comment button {
    padding-left: 0.938rem;
    border-radius: 0.313rem;

    border: 0.625rem;
    outline: none;
    font-size: 1.125rem;
    color: #333;
    background-color: #fff0;


}

.like-and-comment button:active {
    background-color: #3332;
}

.like-and-comment button span {
    font-size: 1.125rem;
}

.delete {
    padding-top: 1.125rem;
    color: #000000;
}

.comments {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 0.313rem;
    margin-top: 0.625rem;
}


.allcomments {
    padding-top: 1.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 11fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.063rem;
    grid-row-gap: 0rem;
}

.commenterimage {
    height: 1.875rem;

}

.commentername {
    height: 1.875rem;

}

.commentbody {
    height: 1.875rem;
}



.miniPI {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.313rem;

}

.comment-div textarea {
    width: 90%;
    height: 1.875rem;
    font-family: arial;
    font-size: 1.125rem;

    border: 0.063rem solid rgba(0, 0, 0, 0.133);
    outline: none;
    padding: 0rem 9.375rem 0rem 0.625rem;

    box-sizing: border-box;
    border-radius: 6.25rem;
   
    resize: none;
    margin-top: 1.25rem;
}

.comment-div {
    position: relative;
}

.comment-div ul {
    position: absolute;
    content: '';
    right: 1.875rem;
    top: 50%;

    padding: 0;
    margin-bottom: 0;
    margin-top: 0rem;
}

.comment-div ul li {
    display: inline-block;
    width: 2.188rem;
    height: 2.188rem;
    box-sizing: border-box;
    border-radius: 50%;
}

.comment-div ul li i {
    margin-left: 0.25rem;
    line-height: 1.375rem;
}

.comment-div ul li:active {
    background-color: #3332;
}

.commenterimage img {
    border-radius: 100px;
}

.profile-img {

    width: 3.125rem;
    height: 3.125rem;
    background-color: #333;
    border-radius: 80px;

}

.profile-img img {

    width: 100%;
    height: 100%;
    border-radius: 100px;

}

.postdeperator {
    margin-top: 2rem;
}

.allcommnts {
    overflow-y: scroll;
    height: 5rem;
}
.icon {
    display: inline-block; /* display the icon as an inline block element */
    width: 30px; /* set the width of the icon */
    height: 30px; /* set the height of the icon */
    background: url(static/images/SeekPng.com_facebook-icon-white-png_1537093.png); /* set the background image of the icon */
    background-size: cover; /* scale the background image to cover the entire element */
  }



@media screen and (min-width: 453px) and (max-width:1199px){

    .loggedout {
        display: block;
    }

    .search-navbar {
        display: grid;
        flex-wrap: no-wrap;
        align-items: center;
        row-gap: 0.625rem;
        column-gap: 6.3rem;
        background-color: #ffffff;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .header h1 {

        margin: 0;
        font-size: 3.5rem;
    }

    .coverphoto {
        height: 30rem;

    }

    .profilepic img {

        width: 18rem;
        height: 18rem;
        border-radius: 9.25rem;
        position: relative;
        top: -8.5rem;

    }

    .profilepic h1 {

        font-size: 3.188rem;
        position: relative;
        top: -4.688rem;

    }

    .profilepic h3 {

        position: relative;
        top: -5.625rem;
        font-size: 1.8rem;

    }

    .story {

        padding: 0.625rem;
        font-size: 0.938rem;
        background-color: #4267B3;
        color: #fff;
        border-radius: 0.5rem;
        width: 15.375rem;

    }

    .edit {

        padding: 0.625rem;
        font-size: 0.938rem;
        border: 0.063rem solid #3332;
        font-family: inherit;
        border-radius: 0.5rem;
        width: 15.375rem;
        font-family: Arial, sans-serif;

    }

    .navbar {

        background-color: #fff;
        margin-top: -0.925rem;

    }

    .navbar ul li {

        display: inline-block;
        padding: 0.875rem 1.938rem;
        font-size: 1.73rem;
        color: #9b8a8a;
        font-weight: 600;

    }

    .features {

        background-color: #fff;
        padding: 1.25rem;
        box-sizing: border-box;
        border-radius: 0.938rem;
        margin-top: 0.625rem;
        box-shadow: 0rem 0rem 0.125rem rgba(233, 10, 10, 0.333);

    }

    .images-photos img {

        width: 12.25rem;
        height: 12.25rem;

    }

    .images-friends img {

        height: 12.25rem;
        width: 12.25rem;
        background-color: #ffffff;

    }

    .profile-img img {

        width: 100%;
        height: 100%;
        border-radius: 50px;

    }

    .profile-img {

        width: 3.125rem;
        height: 3.125rem;
        background-color: #333;
        border-radius: 80px;

    }

    .status-bar ul {
        text-align: center;
    }

    .status-bar ul li {

        display: inline-block;
        padding: 0.625rem 2.5rem;
        font-size: 1.2rem;

    }

    .instant-post div textarea {

        font-size: 1.2rem;

    }
    .coverpics {
        width: 20px;
        height: 20px;
        padding-left: 5px;
        background-color: white;
        padding-bottom: 5px;
        position: relative;
        top: -650px;
        left: 750px;
      }
      

    .bio-photos-friends {
        width: 70%;
        margin: auto;
    }

    .all-posts {
        width: 70%;
        margin: auto;
    }

    .post-name-info h2 {

        font-size: 1.25rem;
        padding-top:5px;

    }

    .post-name-info .date-public span {
        margin-left: -0.25rem;

    }

    .post-img-txt p {

        font-size: 1.338rem;
        clear: #000;
        padding: 0.625rem 0.938rem;

    }

    .commenterimage img {
        border-radius: 100px;
    }

    .search-navbar input[type="text"] {
        border: none;
        font-size: 0.875rem;
        padding: 0.5rem;
        width: 9.25rem;
        border-radius: 0.188rem 0 0 0.188rem;
    }
    .search-navbar {
        display: grid;
        flex-wrap: no-wrap;
        align-items: center;
        row-gap: 0.625rem;
        column-gap: 3.9rem;
        background-color: #ffffff;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
}

@media screen and (min-width: 1200px) {
    .profilepic {
        display: block;


        background-color: white;
    }

    .profilepic img {
        width: 18rem;
        height: 18rem;

        position: relative;
        top: -3.25rem;
        left: 25px;

    }

    .profilepic h1 {

        font-size: 2.188rem;
        position: absolute;
        top: 27.688rem;
        left: 380px;
    }

    .profilepic h3 {

        position: absolute;
        top: 33.6rem;
        font-size: 1.8rem;
        left: 24rem;
    }

    .story {
        padding: 0.625rem;
        font-size: 0.938rem;
        background-color: #4267B3;
        color: #fff;
        border-radius: 0.5rem;
        width: 15.375rem;
        left: 20rem;
    }

    .edit {
        padding: 0.625rem;
        font-size: 0.938rem;
        border: 0.063rem solid #3332;
        font-family: Arial, sans-serif;
        font-family: inherit;
        border-radius: 0.5rem;
        width: 15.375rem;
        left: 20rem;


    }

    .navbar ul li {

        display: inline-block;
        padding: 0.875rem 2.938rem;
        font-size: 1rem;
        color: #9b8a8a;
        font-weight: 600;

    }

    .all-information {

        width: 100%;
        display: grid;

        margin-bottom: 15px;

        grid-template-columns: 3fr 5fr;
        grid-column-gap: 0rem;

    }
    .search-navbar {
        display: grid;
        align-items: center;
        row-gap: 0.625rem;
        column-gap: 5.5rem;
        background-color: #ffffff;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

    .coverpics {
        width: 30px;
        height: 30px;
        padding-left: 5px;
        background-color: white;
        padding-bottom: 5px;
        position: relative;
        top: -450px;
        left: 1050px;
      }
 
    .bio-photos-friends {

        width: 98%;
        margin-left: 1rem;
        margin-top: -0rem;
    }

    .all-information {

        width: 100%;
        display: grid;
        margin-bottom: 15px;
        grid-template-columns: 3fr 5fr;
        grid-column-gap: 0rem;

    }

    .like-and-comment {

        padding: 0.938rem 0.938rem;
        display: flex;

        flex-wrap: wrap;

    }

    .like-and-comment button {
        padding-left: 0rem;
        border-radius: 0.313rem;
        border: 0.625rem;
        outline: none;
        font-size: 1.125rem;
        color: #333;
        background-color: #fff0;
    }

    .all-posts {

        width: 95%;
        margin: auto;
        height: 1400px;
        overflow-y: scroll;
      
    }

    .header h1 {
        margin: 0;
        font-size: 2.5rem;
      }

    .images-photos img {

        width: 8rem;
        height: 8rem;

    }

    .images-friends img {
        width: 8rem;
        height: 8rem;
        background-color: #ffffff;
    }

    .like-and-comment {

        padding: 0.938rem 0.938rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 7.438rem;
    }

    .search-navbar input[type="text"] {
        border: none;
        font-size: 0.875rem;
        padding: 0.5rem;
        width: 20.25rem;
        border-radius: 0.188rem 0 0 0.188rem;
    }
    
    
}