{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/message.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <center><h3>{{friendname}}</h3></center>

    <div id="display"></div>
    <div class="container">
      <form id="post-form">
        {% csrf_token %} {% for friend in messagedetails %}
        <input
          type="hidden"
          name="username"
          id="username"
          value="{{friend.friends}}"
        />
        <input
          type="hidden"
          name="friendsname"
          id="friendsname"
          value="{{friend.name}}" 
        />
        {% endfor %}
        <input type="text" name="message" id="message" />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
  <script src="{% static 'js/alljscode.js' %}"></script>
</html>
