{% load static %}
<!DOCTYPE html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/allfriendslist.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Friends List</title>
  </head>
  <body>
    {% csrf_token %}
    <div class="header">
        <h1>Facebook</h1>
    </div>
    <center><h3>Your Messages List</h3>  </center>
    {% for friend in Friend_list %}
    
      <div class="friend">
        <div class="name">{{friend.friends}}</div>
        <div class="friendbuttons{{friend.friends}}">
      <a href="/sendmessage/{{friend.friends}}"><button >Send message</button></a> 
      </div>
      </div>
    {% endfor %}
  </body>
 
</html>