<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Facebook Profile Design</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="profile.css" />
  </head>

  <body>
    <section class="cover_profile_pics">
      <header class="images">
        <section class="coverphoto">
          <img src="i.jpg" />

          <section class="coverpic">
            <div class="profilepic">
              <img src="i.jpg" />
              <h1 class="profilename">
                sai krishna <span></span>
              </h1>
            </div>
          </section>
        </section>

        <nav class="navbar">
          <ul>
            <li class="navbar-items">Timeline</li>
            <li>About</li>
            <li>Friends</li>
            <li>Photos</li>
            <li>More </li>
          </ul>
        </nav>
      </header>

      <section class="all-information">
        <div class="bio-photos-friends">
          <div class="features">
            <span>Intro</span>

            <ul>
              <li>Bio</li>
              <li>Location</li>
              <li>Single</li>
              <li></li>
              <li></li>
              <li></li>
              <br />
              <br />
            </ul>
          </div>

          <div class="features">
            <span>Photos</span>

            <div class="images-photos">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="features">
            <span>Friends</span>
            <div class="images-friends">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <div class="all-posts">
          <div class="features">
            <div class="status-bar">
              <ul>
                <li>Status</li>
                <li>Photo/Video</li>
                <li>Life Event</li>
              </ul>
            </div>

            <div class="instant-post">
              <div class="profile-img">
                <img src="" />
              </div>
              <div>
                <textarea placeholder="What's on your mind?"></textarea>
              </div>
            </div>

            <div class="post-div">
              <button>Public</button>
              <button class="post-button">Post</button>
            </div>
          </div>

          <div class="features">
            <div class="posts">
              <div>
                <div class="profile-img">
                  <img src="" />
                </div>
              </div>

              <div class="post-name-info">
                <h2>sai krishna</h2>
                <p class="date-public">
                  <span>31 dec 2022</span>
                </p>
              </div>
            </div>

            <div class="post-img-txt">
              <p>HELLO WORLD</p>

              <img src="i.jpg" />
            </div>

            <div class="like-and-comment">
              <button>
                <span>Like</span>
              </button>
              <button>Comment</button>
            </div>
            <div class="comments">
              <div>
                <div class="profile-img miniPI">
                  <img src="images/profile-images/profile.jpg" />
                </div>
              </div>
              <div class="comment-div">
                <textarea placeholder="Write acomment..."></textarea>
                <ul>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="features">
            <div class="posts">
              <div>
                <div class="profile-img">
                  <img src="images/profile-images/profile.jpg" />
                </div>
              </div>

              <div class="post-name-info">
                <h2>sai krishna</h2>
                <p class="date-public">
                  <span>30 Nov 2021</span>
                  <span>
                  </span>
                </p>

              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
