{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Facebook Profile Design</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/postfeed.css' %}" />
  </head>
  <body>
    {% csrf_token %}
    <div class="header">
      <h1>Facebook</h1>
    </div>

      <section class="all-information">
        

        <div class="all-posts">
          {% for post in allposts %}
          <div class="features">
            <div class="posts">
              <div>
                <div class="profile-img">
                  <img src="{{post.postedby.profileimg.url}}" />
                </div>
              </div>

              <div class="post-name-info">
                <h2>{{post.user}}</h2>
                <p class="date-public">
                  <span>{{post.created_ad}}</span>
                </p>
              </div>
            </div>

            <div class="post-img-txt">
              <p>{{post.caption}}</p>
              {% if post.image %}
              <img src="{{post.image.url}}" />
            {% endif %}
            </div>

            <div class="like-and-comment">
           
              {% if request.user in post.liked.all %}
              <button class="like-button" id="{{post.id}}{{output.userprofile.ids}}" data-post-id="{{post.id}}" data-userprofile-id="{{output.userprofile.ids}}" style="color: rgb(8, 33, 220);">Like</button>
              {% else %}
              <button class="like-button" id="{{post.id}}{{output.userprofile.ids}}" data-post-id="{{post.id}}" data-userprofile-id="{{output.userprofile.ids}}" style="color: rgb(0, 0, 0)">Like</button>
              {% endif %}
              <button>Comment</button>
              <br>
              <br>
              <span id="like-count-{{ post.id }}">liked by {{ post.no_of_likes }} people</span>
            </div>
            <div class="comments">
              <div>
                <div class="profile-img miniPI">
                  <img src="{{output.userprofile.profileimg.url}}" />
                </div>
              </div>
              <div class="comment-div">
                <form class="comment-form" postid="{{post.id}}">
                  {% csrf_token %}
                  <textarea class="comment-text{{post.id}}"></textarea>
                 </form>
              </div>
            </div>
            <div class="allcommnts">
            <div class="cmmts{{post.id}} " >
              {% for comment in post.comments.all %}
              <div class="allcomments">
                <div class="commenterimage">
                  <img src="{{comment.commentedby.profileimg.url}}" width="50px" height="40px" />
                </div>
                <div class="commentername">
                  <span>{{comment.name}}</span>
                </div>
                <div>
                </div>
                <div class="commentbody" >
                  {{comment.body}}
                </div>
              </div>
              {% endfor %}
            </div>
                <h1 id="comment{{post.id}}"></h1>
              {% endfor %}
          </div>
        </div>
         </div>
        </div>
      </section>
    </section>
    <script>
      $('.like-button').click(function() {
        var postId= $(this).attr("data-post-id");
        var profileid=$(this).attr("data-userprofile-id");
        
        console.log(postId,profileid)
        $.ajax({
          url: '/like-post',
          type: 'POST',
          data: {'post_id': postId, 'profile_id':profileid, csrfmiddlewaretoken: '{{ csrf_token }}'},
          dataType: 'json',
          success: function(response) {
            console.log(response.likes,response.post_id)
            $('#like-count-'+postId).text("liked by "+response.likes+ " people");
            var button = $('#'+postId+profileid);
            if (button.css('color') === 'rgb(0, 0, 0)') {
              button.css('color', 'rgb(0, 0, 255)');
            } else {
              button.css('color', 'rgb(0, 0, 0)');
            }   
          }
        });
      });

     
      $(document).ready(function(){
        $(".comment-form").on('keydown',function(event){
          if (event.key === 'Enter') {
          var postid= $(this).attr("postid");
          var comment= $(".comment-text"+postid).val()
          console.log(postid,comment)
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: '/postComment',
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              comment: $(".comment-text"+postid).val(),
              'postid':postid
            },
            success: function(response){
              console.log(response.comment)
              $(".cmmts"+postid).append(`<div class="allcomments">
                <div class="commenterimage">
                  <img src="` + response.profileimg + `" width="50px" height="40px" />
                </div>
                <div class="commentername">
                  <span>` + response.name + `</span>
                </div>
                <div>
                </div>
                <div class="commentbody" >
                  ` + response.comment + `
                </div>
              </div>
              `);
              $('.comment-text'+postid).val('');
            }
          });
        }
        });
      });

    </script>
  </body>
</html>
