{% load static %}
<!DOCTYPE html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/allviewfriendslist.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Search List</title>
  </head>
  <body>
    {% csrf_token %}
    <div class="header">
        <h1>Facebook</h1>
    </div>
    <center><h3>People You may know</h3> </center>
    {% for friend in searchlist %}
    <div id="friends-list">
      <div class="friend">
        <img src="{{friend.profile.profileimg.url}}" width="40px" height="40px"/>
        <div class="name"><a href="search/{{friend.id}}">{{friend.username}}</a></div>
        <div class="friendbuttons{{friend.friends}}">
      </div>
      </div>
      
    </div>
    {% endfor %}
</body>  
<script src="{% static 'js/alljscode.js' %}"></script>
</html>
