{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="content_message">
        <h1>facebook</h1>
        <p>
          Facebook helps you connect and share with the people in your life.
        </p>
        <p></p>
      </div>

      <div class="content_details">
        <div class="title">
          Create Account
          <a href="/login"><img
              src="{% static 'images/logo-facebookpng-32242.png' %}"
              /></a>
        </div>

        <form action="signup" method="post">
          {% csrf_token %}

          <div class="field">
            <input
              type="text"
              name="first_name"
              placeholder="First Name"
              required
              />
          </div>

          <div class="field">
            <input
              type="text"
              name="last_name"
              placeholder="Last Name"
              required
              />
          </div>

          <div class="field">
            <input
              type="text"
              name="username"
              placeholder="UserName"
              required
              />
          </div>

          <div class="field">
            <input
              type="email"
              name="email"
              placeholder="Email Address"
              required
              />
          </div>

          <div class="field">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
              />
          </div>

          <div class="field">
            <input
              type="password"
              name="confirm"
              placeholder="Confirm Password"
              required
              />
          </div>

          <div class="field">
            <input type="submit" value="Sign Up" />
          </div>

          <div class="signup-link">
            Already have a account?<a href="login"> Login Now</a>
          </div>
        </form>
      </div>
    </div>

    <center>
      <div>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
      </div>
    </center>
  </body>
</html>
