{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Facebook Profile Design</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/viewprofile.css' %}" />
  </head>

  <body>
    {% csrf_token %}
    <div class="header">
      <h1>Facebook</h1>
    </div>
    <section class="cover_profile_pics">
      <header class="images">
        <section class="coverphoto">
          <img src="i.jpg" />
          <section class="coverpic">
            <div class="profilepic">
           <img src="{{output.userprofile.profileimg.url}}" />
              <h1 class="profilename">
                {{output.name}} <span></span>
              </h1>
            </div>
          </section>
        </section>

        <nav class="navbar">
          <ul>
            <li class="navbar-items">Timeline</li>
            <li>About</li>
            <li>Friends</li>
            <li>Photos</li>
            <li>More </li>
          </ul>
        </nav>
      </header>

      <section class="all-information">
        <div class="bio-photos-friends">
          <div class="features">
            <span>Intro</span>

            <ul>
              <li>Name :{{output.userprofile.user}}</li>
              <li>Bio :{{output.userprofile.bio}}</li>
              <li>Location :{{output.userprofile.location}}</li>
              <li></li>
              <li></li>
              <li></li>
              <br />
              <br />
            </ul>
          </div>

          <div class="features">
            <span>Photos</span>

            <div class="images-photos">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="features">
            <span>Friends</span>
            <div class="images-friends">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <div class="all-posts">
          
          <div class="features">
            <div class="status-bar">
              <ul>
               <!-- <a href="/postuploading"><li>Status</li></a>  -->
               <li>Status</li>
               <li>Photo/Video</li>
                <li>Life Event</li>
              </ul>
            </div>

            <div class="instant-post">
              <div class="profile-img">
                <img src="" />
              </div>
              <div>
                <textarea placeholder="What's on your mind?"></textarea>
              </div>
            </div>

            <div class="post-div">
              <button>Public</button>
              <button class="post-button">Post</button>
            </div>
          </div>

          {% for post in posts %}
          <div class="features">
            <div class="posts">
              <div>
                <div class="profile-img">
                  <img src="{{output.userprofile.profileimg.url}}" />
                </div>
              </div>

              <div class="post-name-info">
                <h2>{{post.user}}</h2>
                <p class="date-public">
                  <span>{{post.created_ad}}</span>
                </p>
              </div>
            </div>

            <div class="post-img-txt">
              <p>{{post.caption}}</p>

              <img src="{{post.image.url}}" />
            </div>

            <div class="like-and-comment">
              <button class="like-button" data-post-id="{{post.id}}" data-userprofile-id="{{output.userprofile.id_user}}">Like</button>
              
              <button>Comment</button>
             
              </div></button>
              <br>
              <span id="like-count-{{ post.id }}">liked by {{ post.no_of_likes }} people</span>
            </div>
            <div class="comments">
              <div>
                <div class="profile-img miniPI">
                  <img src="{{output.userprofile.profileimg.url}}" />
                </div>
              </div>
              <div class="comment-div">
                <form action="/postComment/{{post.id}}" method="post">
                  {% csrf_token %}
                  <input type="text" name="comment" placeholder="Enter comment here">
                  
                  <input type="submit" value="Send">
                 </form>
              
              {% for comment in post.comments.all %}
                <h1>{{comment.body}} - {{comment.name}}  </h1>  
                <br>
              {% endfor %}
                
              </div>
            </div>
            {% endfor %}
          </div>
         </div>
        </div>
      </section>
    </section>
    <script>
      $('.like-button').click(function() {
        var postId= $(this).attr("data-post-id");
        var profileid=$(this).attr("data-userprofile-id");
        console.log(postId,profileid)
        $.ajax({
          url: '/like-post',
          type: 'POST',
          data: {'post_id': postId, 'profile_id':profileid, csrfmiddlewaretoken: '{{ csrf_token }}'},
          dataType: 'json',
          success: function(response) {
            console.log(response.likes,response.post_id)
            $('#like-count-'+postId).text("liked by "+response.likes+ " people");
          }
        });
      });
    </script>
  </body>
</html>
