.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}

.friend-list {
    text-align: left;
    display: flex;
}

.friend {
    display: flex;

    text-align: left;
    padding: 0.625rem;
    border-bottom: 1px solid #ccc;
    column-gap: 1.25rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.friend button {
    padding: 0.313rem;
    background-color: #3b5998;
    color: aliceblue;
}

.name {
    font-size: 1.563rem;
}

.images {
    height: 3.125rem;
    width: 3.125rem;
}