.header {
    background-color: #3b5998;
    color: white;
    padding: 0.938rem;
    text-align: center;
}


.friend {
    display: grid;
    text-align: left;
    padding: 0.313rem;
    border-bottom: 1px solid #ccc;
    column-gap: 1.25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 2fr 1fr;
}

.friend button {
    padding: 0.313rem;
    background-color: #3b5998;
    color: aliceblue;
}

.name {
    font-size: 1.563;
    padding-left: 0.625rem;
}

.images {
    height: 3.125rem;
    width: 3.125rem;
}